@mixin font-face($family, $path, $weight, $style) {
    @font-face {
        font-family: $family;
        src: url("#{$path}.woff2") format("woff2"), url("#{$path}.woff") format("woff");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}


@mixin pseudo($display: block, $pos: absolute, $content: "") {
    display: $display;
    position: $pos;
    content: $content;
}
