// Typography
$font-family-sans-serif: "Trebuchet", Arial, sans-serif;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #eebb45;
$yellow: #efcb4c;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-100: #f3f4f0;
$gray-200: #eaeaea;
$gray-footer: #cccccc;
$gray-600: #6c757d;
$gray-900: #333333;
$black: #000000;
$white: #ffffff;
$brown-light: #e1d9a4;

$center: 0 auto;

// transition conf
$duration: 0.3s;
$transition-style: ease-in-out;

//navbar
$height-navbar-sm: 95px;
$height-navbar-lg: 150px;

//container
$container: (
"xs": 92%,
"ml": 86%,
"xl": 90%
);

//breakpoints
$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 720px,
lg: 992px,
xl: 1200px
);

// Body
$body-bg: $white;

// Breadcrumbs
$breadcrumb-padding-y: 1.4rem;
$breadcrumb-padding-x: 0;
$breadcrumb-bg:                     $gray-200;
$breadcrumb-divider-color:          $gray-600;
$breadcrumb-active-color:           $gray-900;
$breadcrumb-divider:                quote("/");
$breadcrumb-border-radius:          0;

//h
$headings-font-weight: 700;

//navbarNav
$navbar-light-color: $gray-900;
$navbar-light-hover-color: $gray-600;

//pagination
$pagination-color:                  $gray-600;
$pagination-border-width:           2px;
$pagination-border-color:           $gray-200;

$pagination-hover-color:            $black;
$pagination-hover-bg:               $gray-200;
$pagination-hover-border-color:     $gray-200;

$pagination-active-color:           $black;
$pagination-active-bg:              $gray-200;
$pagination-active-border-color:    $gray-200;
