@include font-face("Trebuchet", "../fonts/trebuchet", 400, normal);
@include font-face("Trebuchet", "../fonts/trebuchet-bold", 700, normal);

body {
    font-family: "Trebuchet", "Arial", sans-serif;
    font-size: .7rem;
    line-height: 1.2;
}

html {
    font-size: 1rem;
}

body.ckeditor {
    font-size: .9rem;
    padding: 20px;
}

.custom-control-label {
    &::after, &::before {
        top: 0.1rem;
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $warning;
    background-color: $warning;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 0.9rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.2rem;
    }
}
