@include font-face("Trebuchet", "../fonts/trebuchet", 400, normal);
@include font-face("Trebuchet", "../fonts/trebuchet-bold", 700, normal);

body {
    font-family: "Trebuchet", "Arial", sans-serif;
    font-size: .7rem;
    line-height: 1.2;
}

html {
    font-size: 1rem;
}

body.ckeditor {
    font-size: .7rem;
    line-height: 1.2;
    padding: 20px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.1rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}
