.article-card {
    order: 2;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin-bottom: 3rem;
}

@include  media-breakpoint-up(lg) {
    .article-card {
        order: 3;
        flex-direction: row;

        & .banner__text-preview {
            font-size: 0.95rem;
            width: 100%;
        }
    }
}
