.article-card {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

@include  media-breakpoint-up(lg) {
    .article-card {
        flex-direction: row;
        margin-top: 1rem;
        margin: 0 -15px;

        & .banner__text-preview {
            font-size: 1rem;
            width: 100%;
        }

        & .card {
            min-width: 270px;
            padding: 0 15px;
        }
    }
}
