.article-text {
    margin-bottom: 3rem;
    font-size: 18px;

    h3 {
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 30px;
        font-weight: 700;
    }

    img {
        width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding: 0;
            padding-left: 30px;
            font-size: 18px;

            &::before {
                content:"\2014";
                position: absolute;
                top: 0;
                left: 0;
                color: #eebb45;
            }
        }
    }
}

.article-text__title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.article-text__description {
    margin-top: 1.5rem;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

@include  media-breakpoint-up(md) {
    .article-text__title {
        font-size: 2rem;
    }
}

@include  media-breakpoint-up(lg) {
    .article-text {
        width: 100%;
        max-width: 1150px;
        margin: 0;
    }

    .article-text__description {
        padding-right: 2rem;
    }
}
