.article-card {
    order: 2;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

@include  media-breakpoint-up(lg) {
    .article-card {
        order: 3;
        flex-direction: row;
        margin-bottom: 3rem;
        margin-top: 1rem;

        & .banner__text-preview {
            font-size: 1rem;
            width: 100%;
        }

        & .card {
            min-width: 270px;
        }
    }
}
