.banner {
    padding: 0;
    margin-bottom: 2rem;
    border: 0;
}

.banner__container {
    display: block;
    background-color: $gray-100;
    color: $black;
    transition: all $duration $transition-style;
    background-size: cover, cover;
    background-position: 0 50%, 0 50%;
    font-weight: 700;
    min-height: 400px;
    position: relative;

    &:focus,
    &:hover {
        text-decoration: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        color: $black;

        & .banner__text-preview {
            text-decoration: underline;
        }
    }

    &:active {
        opacity: 0.5;
    }
}

.banner__bg-blur {
    background-color:rgba($white, 0.45);
    width: 100%;
    height: inherit;
    min-height: inherit;
    padding: 2.2rem 0;
}

.banner__name-page {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    letter-spacing: 0.04em;
    font-size: 24px;
    font-weight: 700;
    border: none;

    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.banner__title {
    color: $white;
    background-color: $blue;
    font-size: 22px;
    padding: 0.5rem 0;
    padding-left: (100% - map-get($container, xs))/2;
    padding-right: 1rem;
    margin-bottom: 3.6rem;
    display: inline-flex;
    min-width: 50%;
}

.banner__text-preview {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: $black;
}

@include media-breakpoint-up(md) {
    .banner__title {
        padding-left: (100% - map-get($container, ml))/2;;
    }
}

@include  media-breakpoint-up(lg) {
    .banner__container {
        background-size:  cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;

        & .banner__bg-blur {
            padding: 2.5rem 0;
        }

        & .main-container {
            width: 100%;
        }

        .banner__text-preview {
            margin: 0;
            font-size: 1.2rem;
            padding-left: 2rem;
            width: 70%;
            max-width: 870px;
        }
    }

    .banner__name-page {
        font-size: 18px;
        letter-spacing: 0.02em;
        width: 100%;
    }

    .banner__title {
        font-size: 18px;
        margin-bottom: 2rem;
        padding-left: 2rem;
        width: 70%;
        max-width: 870px;
    }
}
