.breadcrumb {
    display: none;
    margin-bottom: 0;
    padding: 0.85rem;

    & a {
        text-decoration: underline;
        color: $gray-600;
        line-height: 20px;
        letter-spacing: -0.02em;
    }
}

.breadcrumb__wrapper {
    width: 100%;
    background-color: $breadcrumb-bg;
}

@include  media-breakpoint-up(md) {
    .breadcrumb {
        display: flex;
    }
}
