.breadcrumb {
    display: none;
    margin-bottom: 0;
    padding: 0.85rem 0;
    font-size: 18px;

    & a {
        text-decoration: underline;
        color: $gray-600;
        line-height: 20px;
        letter-spacing: -0.02em;
    }
}

.breadcrumb__wrapper {
    width: 100%;
    background-color: $breadcrumb-bg;
    z-index: 20000;
    position: relative;
}

@include  media-breakpoint-up(xl) {
    .breadcrumb {
        display: flex;
        z-index: 20000;
        position: relative;
    }
}
