.breadcrumb {
    display: none;
    margin-bottom: 0;

    & a {
        text-decoration: underline;
        color: $gray-600;
    }
}

.breadcrumb__wrapper {
    width: 100%;
    background-color: $breadcrumb-bg;
}

@include  media-breakpoint-up(md) {
    .breadcrumb {
        display: flex;
    }
}
