.btn-subscribe {
    padding: 0.9rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 8rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    background-image: url("../images/btn-bg.png");
    background-size: cover;
    background-position: center;

    &--empty {
        border: 3px solid $brown-light;
        background-image: none;
        margin: 0;
        margin-bottom: 3rem;
        padding: 0.3rem 1rem;
        font-size: 1.2rem;

        &:focus,
        &:hover {
            background-color: $brown-light;
            border-color: $brown-light;
        }
    }
}

@include  media-breakpoint-up(lg) {
    .btn-subscribe {
        padding: 0.5rem 1rem;
        margin-top: 0;
        font-size: 1.3rem;

        &--empty {
            padding: 0.3rem 1rem;
        }
    }
}
