@include  media-breakpoint-up(lg) {
    .main-sidebar {
        width: 100%;
    }

    .main-sidebar__title {
        font-size: 0.9rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}

@include  media-breakpoint-up(xxl) {
    .main-sidebar {
        padding-left: 105px!important;
    }
}
