.main-footer {
    color: rgba($gray-footer, 0.7);
    background-color: $gray-900;
    // font-size: 1.1rem;
    font-size: 20px;
    padding: 60px 0;

    &__nav {
        display: flex;
    }

    &__link {
        color: rgba($white, 0.7);
        text-decoration: underline;

        &:focus,
        &:hover {
            opacity: 0.7;
            color: inherit;
        }
    }
}
