.main-navbar {
    background-color: $white;
    padding: 0;
    min-height: $height-navbar-sm;
}

.main-navbar__link {
    display: flex;
    color: $gray-900;
    font-size: 1.2rem;
    line-height: 1.25rem;
    letter-spacing: -0.02em;

    & i {
        line-height: 1.25rem;
    }
}

.main-navbar__toggler {
    border: none;
    margin-left: auto;
}

@include  media-breakpoint-up(md) {
    .main-navbar {
        padding: 1.2rem 0;
        min-height: $height-navbar-md;

        & .nav-item {
            width: 20%;
            max-width: 220px;
        }
    }

    .main-navbar__link {
        font-size: 0.85rem;
        padding: 0;
    }

    .main-navbar__list {
        width: 100%;
        justify-content: space-between;
    }
}
