.main-navbar {
    background-color: transparent;
    padding: 0;
    margin-top: -6px;

    & .show {
        background-color: $gray-200;
    }

    & .navbar-nav .show > .nav-link {

        & i {
            height: 20px;
            transform: rotate(90deg);
        }
    }
}

.main-navbar__list {

    & .nav-item {
        margin-bottom: 20px;
    }
}

.main-navbar__link {
    display: flex;
    color: $gray-900;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.02em;
    padding-bottom: 1.2rem;

    & i {
        line-height: 26px;
        margin-right: 12px;
        padding-right: 8px;
    }
}

.main-navbar__toggler {
    border: none;
    margin-left: auto;
}

.main-navbar__dropdown-menu {
    border: none;
    border-radius: 0;

    & .dropdown-item {
        background-color: transparent;
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 28px;
        letter-spacing: -0.02em;
        font-weight: 700;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}

@include  media-breakpoint-up(xl) {
    .main-navbar__link {
        height: 100%;
        background-color: $white;
        font-size: 22px;
        line-height: 20px;
        padding-top: 1.95rem;
        padding-bottom: 1.5rem;

        & i {
            line-height: 20px;
            margin-right: 7px;
        }
    }

    .main-navbar {
        height: 100%;

        & .nav-item {
            margin-bottom: 0;
            height: 100%;

            & .main-navbar__link {
                justify-content: center;
            }

            &:nth-last-child(-n+3) {

                & .main-navbar__dropdown-menu {
                    left: auto;
                    right: 0;
                }
            }

            &:first-child {

                .main-navbar__link {
                    justify-content: flex-start;
                }
            }

            &:last-child {
                margin-right: 0!important;

                .main-navbar__link {
                    justify-content: flex-end;
                }
            }
        }

        & .show {
            background-color: $white;
        }

        & .navbar-nav .show > .nav-link {
            padding-top: 0.75rem;
            border-top: 1.2rem solid transparent;
            box-shadow: 0px -5px 4px 0px rgba($black,0.19);
            position: relative;
            z-index: 10000;
        }
    }

    .main-navbar__list {
        width: 100%;
        justify-content: space-between;
    }

    .main-navbar__dropdown-menu {
        margin: 0;
        box-shadow: 0px 0px 4px 0px rgba($black,0.19);
        top: 98%;
        width: 400px;
        padding-bottom: 3rem;

        & .dropdown-item {
            font-size: 22px;
            line-height: 20px;
            letter-spacing: -0.02em;
            white-space: normal;
        }
    }
}
