.main-navbar {
    background-color: $white;
    padding: 0;

    & .show {
        background-color: $gray-200;
    }
}

.main-navbar__list {
    & .nav-item {
        margin-bottom: 20px;
    }
}

.main-navbar__link {
    display: flex;
    color: $gray-900;
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: -0.02em;
    padding-bottom: 1.2rem;

    & i {
        line-height: 20px;
    }
}

.main-navbar__toggler {
    border: none;
    margin-left: auto;
}

.main-navbar__dropdown-menu {
    border: none;
    border-radius: 0;

    & .dropdown-item {
        background-color: transparent;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.02em;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}

@include  media-breakpoint-up(lg) {
    .main-navbar__link {
        height: 100%;
        background-color: $white;
        font-size: 0.85rem;
        padding-top: 0.75rem;
        padding-bottom: 1.2rem;
        border-top: 1.2rem solid transparent;
    }

    .main-navbar {
        min-height: $height-navbar-lg;

        & .nav-item {
            width: 20%;
            max-width: 220px;
            margin-bottom: 0;

            &:nth-last-child(-n+3) {

                & .main-navbar__dropdown-menu {
                    left: auto;
                    right: 0;
                }
            }
        }

        & .show {
            background-color: $white;
        }

        & .navbar-nav .show > .nav-link {
            border-top: 1.2rem solid $green;
            box-shadow: 0px -5px 4px 0px rgba($black,0.19);
            position: relative;
            z-index: 10000;
        }
    }

    .main-navbar__list {
        width: 100%;
        justify-content: space-between;
    }

    .main-navbar__dropdown-menu {
        margin: 0;
        box-shadow: 0px 0px 4px 0px rgba($black,0.19);
        top: 98%;
        width: 400px;
        padding-bottom: 3rem;

        & .dropdown-item {
            font-size: 22px;
            white-space: normal;
        }
    }
}
