.news__link {
    color: $black;
    font-size: 27px;

    &:focus,
    &:hover,
    &:active {
        text-decoration: underline;
        color: $black;
    }
}

.news__date {
    color: $gray-700;
    display: block;
    width: 100%;
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 21px;
}

.news__title {
    font-size: 33px;
    font-weight: 700;
}


@include  media-breakpoint-up(lg) {
    .news__link {
        font-size: 18px;
    }

    .news__date {
        font-size: 14px;
        margin: 0.5rem;
        font-weight: 700;
    }

    .news__title {
        font-size: 22px;
    }
}
