.pagination-banners {
    justify-content: center;
    margin-bottom: 3rem;

    & .page-item {
        margin: 0 3px;

        & .page-link {
            border-radius: 50%;
        }

        &:first-child .page-link{
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            color: $brown-light;
            border-color: $brown-light;
        }

        &:last-child .page-link {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            color: $brown-light;
            border-color: $brown-light;
        }
    }
}
