.social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;

    &__link:focus,
    &__link:hover, {
        opacity: 0.7;
    }
}


@include media-breakpoint-up(lg) {
    .social {
        justify-content: flex-start;
    }
}
