.social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;

    &__link {

        &:focus,
        &:hover, {
            opacity: 0.7;
        }

        & img {
            width: 71px;
            height: 71px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .social {
        justify-content: flex-start;
    }
}
