.subscribe {
    & label {
        font-size: 18px;
        margin-bottom: 0;
    }
}

.subscribe__text {
     font-size: 22px;
     line-height: 32px;
}

@include  media-breakpoint-up(lg) {
    .subscribe {
        width: 100%;
    }
}
