.subscribe__text {
    // font-size: 0.95rem;
    // line-height: 1rem;
     font-size: 24px;
     line-height: 35px;
}

@include  media-breakpoint-up(lg) {
    .subscribe {
        width: 100%;
    }
}
