.top-banner-wrapper {
    margin-bottom: 5rem;
    position: relative;

    & a {
        &:focus,
        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
            color: $black;
        }

        &:active {
            opacity: 0.5;
        }
    }
}

@include  media-breakpoint-up(md) {
    .top-banner-wrapper {
        margin-bottom: 2.5rem;
    }
}

@include  media-breakpoint-up(lg) {
    .top-banner-wrapper {
        width: map-get($container, xl);
        margin: $center;
        margin-bottom: 3.5rem;
        max-width: 1710px;
    }
}
