.top-banner {
    padding: 0;
    background-color: $blue;
    color: $gray-900;
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;

    &__text {
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 12px;
    }

    &__title {
            color: $white;
    }

    &--main {
        background-color: $yellow;

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        &__text {
            font-size: 17px;
        }
    }

    &--news {
        background-color: $orange;
    }

    &__container {
        padding: 2rem 0;
    }
}

@include  media-breakpoint-up(md) {
    .top-banner {

        &__title {
            font-size: 4rem;
        }

        &--main__title {
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: 62px;
        }
    }
}

@include  media-breakpoint-up(lg) {
    .top-banner {

        &__text {
            width: 80%;
        }

        &__title {
            width: 80%;
            font-size: 3.8rem;
            margin-top: 1rem;
        }

        &--main__title {
            font-size: 62px;
        }

        &__container {
            width: 100%;
            padding: 2rem;
        }
    }
}

@include  media-breakpoint-up(xl) {
    .top-banner {

        &__title,
        &__text {
            width: 65%;
            max-width: 790px;
        }
    }
}
