.top-banner {
    padding: 0;
    background-color: $blue;
    color: $gray-900;
    background-image: url("../images/top-banners-blue.png");
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
    min-height: 375px;
    display: flex;
    align-items: center;

    &__small {
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 1.5rem;
    }

    &__title {
        color: $white;
        font-size: 3rem;
        line-height: 1.2;
        margin-top: 1rem;
    }

    &__strong {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
    }

    &--main {
        background-color: $yellow;
        background-image: url("../images/mainpage_1800_02.jpg");

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &__text {
            font-size: 17px;
        }
    }

    &--news {
        background-color: $orange;
        background-image: url("../images/top-banners-orange.png");
    }

    &__container {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}

@include  media-breakpoint-up(md) {
    .top-banner {
        background-image: url("../images/top-banners-blue-xl-main.png");

        &--news {
            background-image: url("../images/top-banners-orange-xl-main.png");
        }

        &--main {
            background-color: $yellow;
            background-image: url("../images/mainpage_1800_02.jpg");
        }

        &__title {
            font-size: 3rem;
        }

        &--main__title {
            margin-bottom: 2rem;
            font-size: 52px;
        }
    }
}

@include  media-breakpoint-up(lg) {
    .top-banner {

        &__text {
            width: 80%;
        }

        &__title {
            width: 80%;
            font-size: 3.4rem;
            line-height: 1;
        }

        &--main__title {
            font-size: 52px;
            line-height: 1;
        }

        &__container {
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@include  media-breakpoint-up(xl) {
    .top-banner {
        min-height: 455px;

        &__title,
        &__text {
            width: 65%;
            max-width: 790px;
        }
    }
}
