.top-banner {
    background-color: $gray-100;
    color: $gray-900;
    padding: 2rem 0;
    margin-bottom: 2rem;

    & strong {
        font-size: 1.7rem;
    }

    &__text {
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 12px;
    }

    &--main {
        background-color: $yellow;

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        &__text {
            font-size: 17px;
        }
    }
}

@include  media-breakpoint-up(md) {
    .top-banner {
        margin-bottom: 2.5rem;

        &__title {
            font-size: 4.7rem;
        }

        &--main__title {
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: 62px;
        }
    }
}

@include  media-breakpoint-up(lg) {
    .top-banner {
        width: map-get($container, xl);
        margin: $center;
        margin-bottom: 2.6rem;

        &__text,
        & strong {
            width: 80%;
        }

        &__title {
            width: 80%;
            font-size: 4rem;
        }

        &--main__title {
            font-size: 62px;
        }
    }

    .top-banner__container {
        width: 100%;
        padding: 2rem;
    }
}

@include  media-breakpoint-up(xl) {
    .top-banner {

        &__title,
        &__text,
        & strong {
            width: 65%;
            max-width: 790px;
        }
    }
}
