.top-banner {
    background-color: $gray-100;
    color: $gray-900;
    padding: 3rem 0;
    margin-bottom: 2rem;

    &--main {
        background-color: $yellow;
        &__title {
            font-size: 32px;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        &__text {
            font-size: 17px;
        }
    }

    &__text {
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 12px;
    }
}

@include  media-breakpoint-up(sm) {
    .top-banner--main__title {
        font-size: 52px;
    }
}
@include  media-breakpoint-up(md) {
    .top-banner {
        width: map-get($container, ml);
        margin: $center;
        padding: 0;
        margin-bottom: 3rem;

        &--main__title {
            margin-bottom: 2rem;
            margin-top: 3.8rem;
            font-size: 62px;
        }
    }

    .top-banner__container {
        width: 100%;
        padding: 4rem;
    }
}

@include  media-breakpoint-up(lg) {
    .top-banner {
        width: map-get($container, xl);
        &--main {
            &__title {
                width: 80%;
            }
        }

    }
}
@include  media-breakpoint-up(xl) {
    .top-banner {
        &--main {
            &__title {
                width: 65%;
                max-width: 790px;
            }
        }
    }
}
